{{>header}}
{{>nav}} 
    <div class="container">
        <h3 class="text-center mt-4">Add </h3>
        <form method="post" action="/addLogic" >
            <div class="form-group">
                <label for="Title" class="m-1">Title</label>
                <input type="text" class="form-control m-2" id="Title" name="title">
            </div>
            <div class="form-group">
                <label for="content" class="m-1">Content</label>
                <textarea class="form-control m-2" id="content" name='content' rows="3"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4 w-25 p-2">ADD</button>
            </div>
        </form>
    </div>