{{>header}}
{{>nav}}
{{#if isEmpty}}
<p class="alert alert-warning text-centerc">Not Found !!</p>
{{else}}

{{#each result}}
<div class="container card mt-2">
    <a href="/show/{{id}}" class="text-muted text-decoration-none"><div class="card-body">
        <h4>{{title}}</h4>
        <p class="mx-4">- {{content}}</p>
    </div>
    </a>
</div>


{{/each}}

{{/if}}