{{>header}}
{{>nav}}

<div class="container card mt-4">
    <div class="card-body">
    <h4 class="text-dark">{{task.title}}</h4>
    <p class="text-muted m-2">{{task.content}}</p>
   <p class="d-inline ms-4" >Status : </p> <p class="text-info d-inline">{{task.status}}</p>
   <p class="float-end text-muted">{{task.date}}</p>
    </div>
</div>
