
  <div class="form-outline d-flex justify-content-center mt-4">
    <form  class="w-50" method="get" action="/search">
    <input type="search" name="search" class="form-control w-75 d-inline" placeholder="Search..."/> 
    <button type="submit" class="d-inline btn btn-primary">Search</button>
    </form>
  </div>
